In [7]:
import json
import pandas as pd

## The data structure below is showing the first dataset I got from NASA's public website. I took their data and put it into .csv format in order to manipulate it for this project. Once I begin working on the final project more, I will need to tidy up this data even more and I will make sure to take documentation of this. This dataset is showing us the gradual change of global surface temperature compared to the long-term average from 1951 - 1980. The head of the dataset is shown here, and as you can see, 144 years ago the earth was -0.18 degrees celsius cooler than it was in 2023.

In [8]:
dataset1 = pd.read_csv('DataInEMAT24/dataset-one.csv')
dataset1.head()

   Year  Annual Mean  Lowess (5)
0  1880        -0.18       -0.10
1  1881        -0.09       -0.14
2  1882        -0.11       -0.17
3  1883        -0.18       -0.21
4  1884        -0.28       -0.24

In [9]:
dataset2 = pd.read_csv('DataInEMAT24/dataset-two.csv')
dataset2.head()

   Year      Month  Average (PPM)
0  1983       July        1625.98
1  1983     August        1628.04
2  1983  September        1638.43
3  1983    October        1644.82
4  1983   November        1642.58

## The dataset above is showing us the average amount of methane in the earth's atmosphere in parts per million. Comparing these two datasets will likely show a strong correlation and provide a strong case.